*{
    margin:0px
}
html,body{
    max-height: 100%;
}
/* top */
.nav{
    background-color:black;
    color: white;
   display: flex;
   justify-content: space-between;
   text-align: center;
     
}

.container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin:0px 5px;
    margin-left: 350px;
}

        h1 {
            margin: 10px 10px 10px 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 40px;
        }
           

        .nav-links{
         display: flex;
         justify-content: flex-start;
         }

        li{
list-style-type: none;
       margin:0px 10px;
        }

        a{
          color: gray;
            text-decoration: none;
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
        }

.active{
    color: white;
    font-weight: 500px;
}
      
.btn{
            color: white;
            background-color: rgb(4, 179, 179);
            border: 2px solid black;
          font-weight: bolder;
          font-size: 20px;
     position: absolute;
     top: 20px;
     right:15%;
  }
    

/* card jane*/

.merge{
    display: inline-block;
}
.card{
    width: 700px;

    margin:40px 50px 50px 325px;
    
  
}
.jane{
    border: 4px solid rgb(184, 184, 184);
}
.jane_top{
    background-color: rgb(4, 179, 179);
    height: 150px;
}

.jane_pic{
    position: relative;
    border:4px solid rgb(184, 184, 184);
    border-radius:50%;
    left: 80px;
    top: 80px;
}

.jane_mid{
    position: relative;
    font-size: 20px;
    padding: 100px;
    
   
}


.doe{
    margin: 0px -5px;
}

.info{
    margin-top: 5px;
}
.jane_mid h3{
    display: inline;
    
}
.jane_end{
    position: relative;
    left: 30px;
    bottom:20px
}

/* connection requests*/



.connection_requests{
   border: 4px solid rgb(184, 184, 184);
    width:500px;
    
   float: right;
    position: relative;
    right: 15%;
    top: 40px;
    
}
.cr{
  background-color: black;
  height:70px;
}
.cr h3{
 text-align: center;
 color: white;
}

.crmove{
    position: relative;
    top:20px;
}

.crtwo{
    border: 1px solid gray;
    border-radius: 80%;
    border-width: 10px;
    background-color: gray;
    color: black;
}
.two{
    border:2px solid grey;
   color: white;
   background-color: grey;
   border-radius:50%;
   height: 100px;
   width: 100px;
    
}

.cr_mid{
    margin: 5px;

}

.crp{
    display: inline;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    bottom: 30px;
    
}

.crp,.ac{
    margin:20px;
}
.tp{
    border:4px solid rgb(184, 184, 184);
    border-radius: 50%;
    margin-left: 10px;
}

.ac{
    margin-left:60px;
}

/* education */


.education{
    width: 700px;
    margin:40px 50px 50px 325px;
    border: 4px solid rgb(184, 184, 184);
    position: absolute;
   bottom: -100px;
  
    }


    .coding{
background-color: black;
color: white;
padding: 20px;
font-size: 20px;

}
.coding h2{
    margin-left: 45px;
  
}

.dojo{
    text-align: left;
    padding: 50px;
    line-height: 2;
}


/* your connections*/
.your_connections{
    border: 4px solid rgb(184, 184, 184);
    width:500px;
   float: right;
position: relative;
    right: 15%;
    bottom:235px;
    
}

.yr{
    background-color: black;
    height: 70px;
}

.yr h3{
    text-align: center;
    color: white;
    position: relative;
    top: 20px;
}

.yrplus{
    border-radius: 50%;
    border: 2px solid gray;
   border-width:10px;
   color: black;
   background-color: gray;
}


.yr_mid{
    margin: 5px;
}
.yr_mid img{
    border-radius: 50%;
    margin-left: 10px;
    border: 3px solid gray;
}



.yrend{
    border: 2px solid rgb(184,184,184);
    padding: 10px;
    margin-top: 5px;
   
}

.yrend a{
    margin-left: 15px;
    text-decoration: underline;
    color: blue;
}
